---
layout: markdown_page
title: "Paid GitLab Learning Resources"
description: "All GitLab-produced paid learning content."
canonical_path: "/learn/registration/paid/"
---

All GitLab-produced paid learning resources can be found below.
See all [GitLab-produced learning resources by registration](/learn/registration/)
[Understand how we classify content](/learn/classification/)

| Course | Assessment |
| --- | --- |
<% data.learn.learn.select{|course| course.registration == "Paid" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course| %>
<%= "| [#{course.name}](#{course.url}) | #{course.assessment} |" %>
<% end %>
